/*Schrijf hier jouw CSS*/
.opdracht-1 .flex-container{
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-between;
}
.opdracht-2 .flex-container{
    display: flex;
}
.opdracht-2 .flex-item{
    flex-basis: 250px;
}
.opdracht-3 .flex-container{
    display: flex;
    justify-content: space-between;
}
.opdracht-3 .flex-item1{
    align-self: flex-start;
}
.opdracht-3 .flex-item2{
    align-self: center;
}
.opdracht-3 .flex-item3{
    align-self: flex-end;
}
.opdracht-4 .flex-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.opdracht-5 .flex-container{
    display: flex;
    justify-content: space-between;
}
.opdracht-5 .flex-item{
    /*border-style: solid;*/
    /*border-color: red;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.opdracht-5 .flex-item1{
    align-items: flex-start;
}
.opdracht-5 .flex-item2{
    align-items: center;
}
.opdracht-5 .flex-item3{
    align-items: flex-end;
}